/* css styles */


/* justificar el texto */ 
p, ul, ol {
  text-align: justify; }    
  
  
.rojo {
  color: black;
}

.pink-background {
  background-color: pink;
}

.importante {
  color: black;
  background-color: yellow;
}